{% extends "layout.html" %}

{% block title %}
GymTroll: BMI Calculator
{% endblock %}

{% block main %}

<h1>BMI Calculator</h1>

<div class="custom-container custom-plan fade-in" style="padding: 20px;">
    <p style="color: white; text-align: left; font-size: 20px; padding-bottom: 20px;">Want a quick snapshot of your weight status? Use our BMI Calculator to see if you're in a healthy range for your height and weight. It's a simple tool to help guide your fitness journey.</p>
    <form action="/bmi_calculator" method="post">
        <div class="input-group mb-3">
            <input type="number" class="form-control" name="age" placeholder="Age" required aria-label="age">
        </div>
        <div class="gender" style="text-align: left;">
            <p style="color: white; font-size: 27px; text-align: left;">Gender</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male">
            <label class="form-check-label" for="inlineRadio1" style="color: white;">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female">
            <label class="form-check-label" for="inlineRadio2"  style="color: white;">Female</label>
        </div>
        </div>

        <div class="input-group">
            <span class="input-group-text">Height</span>
            <input type="number" aria-label="feet" class="form-control" name="height" placeholder="(cm)" required>
        </div>

        <div class="input-group input-group mb-3" style="padding-top: 20px;">
            <span class="input-group-text" id="inputGroup-sizing-sm">Weight</span>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="weight" placeholder="kg" required>
        </div>
        <button type="submit" class="btn btn-info" style="font-size: 20px;">Calculate BMI</button>
    </form>

    {% if bmi %}
    <div class="alert alert-info" style="margin-top: 20px;">
        <strong>Your BMI is: {{ bmi }}</strong>
    </div>
    {% endif %}

    <div class="bmi_table" style="padding: 28px;">
        <table style="margin: 0px auto;">
            <thead>
                <th>Classification</th>
                <th>BMI range - kg/m<sup>2</sup></th>
            </thead>
            <tbody>
                <tr>
                    <td>Severe Thinness</td>
                    <td>&lt;16</td>
                </tr>
                <tr>
                    <td>Moderate Thinness</td>
                    <td>16 - 17</td>
                </tr>
                <tr>
                    <td>Mild Thinness</td>
                    <td>17 - 18.5</td>
                </tr>
                <tr>
                    <td>Normal</td>
                    <td>18.5 - 25</td>
                </tr>
                <tr>
                    <td>Overweight</td>
                    <td>25 - 30</td>
                </tr>
                <tr>
                    <td>Obese Class I</td>
                    <td>30 - 35</td>
                </tr>
                <tr>
                    <td>Obese Class II</td>
                    <td> 35 - 40</td>
                </tr>
                <tr>
                    <td>Obese Class III</td>
                    <td>&gt;40</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid text-center" style="padding-top: 30px;">
    <button class="btn btn-secondary btn-lg" type="button" onclick="document.location='/'">Back to Home</button>
    </div>
</div>

{% endblock %}