{% extends "layout.html" %}

{% block title %}
    Error : {{code}} {{message}}
{% endblock %}

{% block main %}
<div class="container-fluid">
    <img src="/static/error.jpg" alt="error">
</div>
<div class="container-fluid custom-error-message">
    <p>{{code}} {{message}}</p>
</div>

<div class="container-fluid text-center">
    <button class="btn btn-secondary btn-lg" type="button" onclick="window.history.back();">Go Back</button>
    <button class="btn btn-secondary btn-lg" type="button" onclick="document.location='/'">Back to Home</button>
</div>
{% endblock %}