{% extends "layout.html" %}

{% block title %}
GymTroll: Workout Library
{% endblock %}

{% block main %}

<h1>Workout Library</h1>

<div class="custom-container custom-plan fade-in" style="padding: 20px;">
    <h4 style="color: white;">Here we have links to videos on every exercise so you can get a step by step instruction on how to perform them correctly</h4>


    <p style="margin-top: 25px; color: white; font-size: 40px; text-align: left;">Chest Exercises</p>
        <ul>
            <li>Bench Press - <a href="https://www.youtube.com/watch?v=rT7DgCr-3pg" target="_blank"> How To Barbell Bench Press</a></li>
            <li>Incline Dumbbell Press - <a href="https://www.youtube.com/watch?v=8iPEnn-ltC8" target="_blank"> How To Dumbbell Incline Chest Press</a></li>
            <li>Push-Ups - <a href="https://www.youtube.com/watch?v=_l3ySVKYVJ8" target="_blank"> How To Do a Push-up</a></li>
            <li>Pike Push-Ups - <a href="https://www.youtube.com/watch?v=x7_I5SUAd00" target="_blank"> Pike Push-up Tutorial</a></li>
        </ul>

    <p style="margin-top: 25px; color: white; font-size: 40px; text-align: left;">Back Exercises</p>
        <ul>
            <li>Lat Pulldown - <a href="https://www.youtube.com/watch?v=AOpi-p0cJkc" target="_blank"> Beginner's Guide: Lat Pulldown</a></li>
            <li>Seated Rows - <a href="https://www.youtube.com/watch?v=GZbfZ033f74" target="_blank"> Seated Row Exercise Guide</a></li>
            <li>Towel Rows - <a href="https://www.youtube.com/watch?v=L2HkSlrAacA" target="_blank"> Towel Row Exercise</a></li>
            <li>Barbell Rows - <a href="https://www.youtube.com/watch?v=vT2GjY_Umpw" target="_blank"> Bent Over Barbell Row Exercise</a></li>
            <li>Pull Ups - <a href="https://www.youtube.com/watch?v=eGo4IYlbE5g" target="_blank"> How To Do Pull Ups</a></li>
        </ul>

    <p style="margin-top: 25px; color: white; font-size: 40px; text-align: left;">Biceps Exercises</p>
        <ul>
            <li>Dumbbell Hammer Curls - <a href="https://www.youtube.com/watch?v=zC3nLlEvin4" target="_blank"> How To Do Hammer Curls</a></li>
            <li>Backpack Curls - <a href="https://www.youtube.com/watch?v=dKqtGGScQhQ" target="_blank"> Backpack Bicep Curls</a></li>
            <li>EZ Bar Curls - <a href="https://www.youtube.com/watch?v=o74HeVd6BIw" target="_blank"> How To: Close Grip EZ Bar Curls</a></li>
        </ul>
    
    <p style="margin-top: 25px; color: white; font-size: 40px; text-align: left;">Triceps Exercises</p>
        <ul>
            <li>Tricep Pushdowns - <a href="https://www.youtube.com/watch?v=2-LAMcpzODU" target="_blank"> How To: Tricep Pushdown</a></li>
            <li>Dips (Bench or Chair) - <a href="https://www.youtube.com/watch?v=0326dy_-CzM" target="_blank"> How To Do Bench Dips</a></li>
        </ul>

    <p style="margin-top: 25px; color: white; font-size: 40px; text-align: left;">Shoulders Exercises</p>
        <ul>
            <li>Overhead Dumbbell Press (Front Delts) - <a href="https://www.youtube.com/watch?v=M2rwvNhTOu0" target="_blank"> The Perfect Overhead Dumbbell Press</a></li>
            <li>Lateral Raises (Side Delts) - <a href="https://www.youtube.com/watch?v=geenhiHju-o" target="_blank"> How To Do Lateral Raise</a></li>
            <li>Wall Lateral Raises (Side Delts) - <a href="https://www.youtube.com/watch?v=HeovYNoZDRg" target="_blank"> Wall Lateral Raise Exercise</a></li>
            <li>Dumbell Shoulder Press - <a href="https://www.youtube.com/watch?v=B-aVuyhvLHU" target="_blank"> How To Do a Dumbbell Shoulder Press</a></li>
            <li>Face Pulls (Rear Delts) - <a href="https://www.youtube.com/watch?v=rep-qVOkqgk" target="_blank"> Face Pull Exercise</a></li>
        </ul>

    <p style="margin-top: 25px; color: white; font-size: 40px; text-align: left;">Legs Exercises</p>
        <ul>
            <li>Leg Press - <a href="https://www.youtube.com/watch?v=Aq5uxXrXq7c" target="_blank"> Instructional Fitness - Seated Leg Press</a></li>
            <li>Bulgarian Split Squats - <a href="https://www.youtube.com/watch?v=2C-uNgKwPLE" target="_blank"> How To Do Bulgarian Split Squats</a></li>
            <li>Glute Bridges - <a href="https://www.youtube.com/watch?v=8bbE64NuDTU" target="_blank"> Glute Bridge Exercise</a></li>
            <li>Romanian Deadlifts - <a href="https://www.youtube.com/watch?v=GZAKFRNtxLY" target="_blank"> Movement Demo - The Romanian Deadlift</a></li>
            <li>Squats - <a href="https://www.youtube.com/watch?v=aclHkVaku9U" target="_blank"> How To Do Squats</a></li>
            <li>Jump Squats - <a href="https://www.youtube.com/watch?v=U4s4mEQ5VqU" target="_blank"> Jump Squat Tutorial</a></li>
            <li>Jumping Lunges- <a href="https://www.youtube.com/watch?v=cIkkHg8YZQU" target="_blank"> Jump Lunges Tutorial</a></li>
            <li>Barbell Back Squats - <a href="https://www.youtube.com/watch?v=SW_C1A-rejs" target="_blank"> How To: Deep Barbell Back Squats</a></li>
            <li>Walking Lunges - <a href="https://www.youtube.com/watch?v=Pbmj6xPo-Hw" target="_blank"> Walking Lunges Exercise Tutorial</a></li>
            <li>Leg Extensions - <a href="https://www.youtube.com/watch?v=4ZDm5EbiFI8" target="_blank"> How To Do a Leg Extension</a></li>
            <li>Standing Calf Raises - <a href="https://www.youtube.com/watch?v=wxwY7GXxL4k" target="_blank"> Standing Dumbell Calf Raises</a></li>
        </ul>

    <p style="margin-top: 25px; color: white; font-size: 40px; text-align: left;">Core & Abs Exercises</p>
        <ul>
            <li>Planks - <a href="https://www.youtube.com/watch?v=pSHjTRCQxIw" target="_blank"> How To Do a Plank</a></li>
            <li>Russian Twists - <a href="https://www.youtube.com/watch?v=wkD8rjkodUI" target="_blank"> Russian Twist Exercise</a></li>
            <li>Leg Raises - <a href="https://www.youtube.com/watch?v=JB2oyawG9KI" target="_blank"> Leg Raise Exercise</a></li>
            <li>Mountain Climbers - <a href="https://www.youtube.com/watch?v=nmwgirgXLYM" target="_blank"> How To Do Mountain Climbers</a></li>
            <li>Sit Ups - <a href="https://www.youtube.com/watch?v=1fbU_MkV7NE" target="_blank"> How To Do Sit Ups</a></li>
            <li>High Knees - <a href="https://www.youtube.com/watch?v=OAJ_J3EZkdY" target="_blank"> High Knees Exercise</a></li>
            <li>Bicycle Crunches - <a href="https://www.youtube.com/watch?v=9FGilxCbdz8" target="_blank"> Bicycle Crunch Exercise</a></li>
            <li>Hanging Leg Raises - <a href="https://www.youtube.com/watch?v=RuIdJSVTKO4" target="_blank"> Hanging Leg Raises</a></li>
        </ul>

    <div class="container-fluid text-center">
    <button class="btn btn-secondary btn-lg" type="button" onclick="document.location='/'">Back to Home</button>
</div>
</div>
{% endblock %}